
# Entorno virtual
venv/
.env/

# Archivos generados por el sistema
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Configuración de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de logs y temporales
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store

# Archivos de bases de datos temporales
*.sqlite3-journal
*.db-journal

# Archivos generados por Flask
instance/
.env
*.env

# Archivos de pruebas
.coverage
*.pytest_cache/
htmlcov/
.tox/

# Archivos relacionados con dependencias
*.egg-info/
dist/
build/

# Otros
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
















