# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de configuración de entornos
*.env
*.env.*

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos de bases de datos temporales
*.sqlite3-journal
*.db-journal

# Configuraciones de entornos de desarrollo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de pruebas y cobertura
.coverage
*.pytest_cache/
htmlcov/
.tox/

# Archivos de distribución
dist/
build/
*.egg-info/

# Otros
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
