{% extends 'base.html' %}
{% block contenido %}
<form method="POST" action="/login" class="container mt-5">
    <h2>Iniciar Sesión</h2>
    <div class="mb-3">
        <label for="usuario" class="form-label">Usuario:</label>
        <input type="text" id="usuario" name="usuario" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="contrasena" class="form-label">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% endblock %}
